html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(rel="stylesheet", href="https://rsms.me/inter/inter.css")
        link(rel="stylesheet", href="css/tailwind/tailwind.min.css")
        link(rel="icon", type="image/png", sizes="32x32", href="shuffle-for-tailwind.png")
        script(src="js/main.js")
    body(class="antialiased bg-body text-body font-body")
        div(class="")
            section
                div(class="md:pb-20 bg-top bg-cover bg-no-repeat", style="background-image: url('images/result-png-1671767710313.webp')")
                    div(class="container px-4 mx-auto")
                        nav(class="flex justify-between items-center py-6")
                            a(class="text-3xl text-white font-semibold leading-none", href="#")
                                img(class="h-10", src="metis-assets/logos/metis/metis-light-name.svg", alt="", width="auto")
                            div(class="lg:hidden")
                                button(class="navbar-burger flex items-center py-2 px-3 text-blueGray-100 hover:text-blueGray-200 rounded border border-blueGray-200 hover:border-blueGray-300") images/result-png-1671767710313.webp
                            ul(class="hidden lg:flex lg:items-center lg:w-auto lg:space-x-12")
                                li
                                    a(class="text-sm text-blueGray-100 hover:text-blueGray-200", href="#") Shop
                                li
                                    a(class="text-sm text-blueGray-100 hover:text-blueGray-200", href="#") About
                                li
                                    a(class="text-sm text-blueGray-100 hover:text-blueGray-200", href="#") Pricing
                                li
                                    a(class="text-sm text-blueGray-100 hover:text-blueGray-200", href="#") FAQ
                            div(class="hidden lg:block")
                                a(class="inline-block px-4 py-3 text-xs font-semibold leading-none bg-blue-600 hover:bg-blue-700 text-white rounded", href="#") Contact Us
                        div(class="py-12 text-center")
                            div(class="max-w-lg mx-auto mb-8")
                                h2(class="text-3xl md:text-4xl mb-4 text-white font-bold font-heading")
                                    span India's
                                    |                   
                                    span(class="text-blue-200") first
                                    |                   
                                    span range of Smart Headgear
                            div
                                a(class="block sm:inline-block py-4 px-8 mb-4 sm:mb-0 sm:mr-3 text-xs text-white text-center font-semibold leading-none bg-blue-600 hover:bg-blue-700 rounded", href="#") Buy Now
                                a(class="block sm:inline-block py-4 px-8 text-xs text-blueGray-100 hover:text-blueGray-200 text-center font-semibold leading-none border border-blueGray-200 hover:border-blueGray-300 rounded", href="#") See how it works
                div(class="container px-4 mx-auto")
                    div(class="flex flex-wrap items-center justify-center max-w-4xl mx-auto pt-12 pb-4")
                        div(class="w-1/2 md:w-1/3 lg:w-1/5 px-3 mb-8")
                            img(class="mx-auto", src="images/Inc42-c9ad5ae3.png", alt="")
                        div(class="w-1/2 md:w-1/3 lg:w-1/5 px-3 mb-8")
                            img(class="mx-auto", src="images/download.png", alt="")
                        div(class="w-1/2 md:w-1/3 lg:w-1/5 px-3 mb-8")
                            img(class="mx-auto", src="images/logoes-1.png", alt="")
                        div(class="w-1/2 md:w-1/3 lg:w-1/5 px-3 mb-8")
                            img(class="mx-auto", src="images/logoes-2.png", alt="")
                        div(class="hidden md:block w-1/2 md:w-1/3 lg:w-1/5 px-3 mb-8")
                            img(class="mx-auto", src="images/DeccanChronicle-081974f4.jpg", alt="")
                div(class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-5/6 max-w-sm z-50")
                    div(class="navbar-backdrop fixed inset-0 bg-blueGray-800 opacity-25")
                    nav(class="relative flex flex-col py-6 px-6 w-full h-full bg-white border-r overflow-y-auto")
                        div(class="flex items-center mb-8")
                            a(class="mr-auto text-3xl font-semibold leading-none", href="#")
                                img(class="h-10", src="metis-assets/logos/metis/metis.svg", alt="", width="auto")
                            button(class="navbar-close")
                                svg(class="h-6 w-6 text-blueGray-400 cursor-pointer hover:text-blueGray-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                    path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M6 18L18 6M6 6l12 12")
                        div
                            ul
                                li(class="mb-1")
                                    a(class="block p-4 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-600", href="#") Shop
                                li(class="mb-1")
                                    a(class="block p-4 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-600", href="#") About
                                li(class="mb-1")
                                    a(class="block p-4 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-600", href="#") Pricing
                                li(class="mb-1")
                                    a(class="block p-4 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-600", href="#") FAQ
                            div(class="mt-4 pt-6 border-t border-blueGray-100")
                                a(class="block px-4 py-3 mb-3 text-xs text-center font-semibold leading-none bg-blue-600 hover:bg-blue-700 text-white rounded", href="#") Contact Us
                                a(class="block px-4 py-3 mb-2 text-xs text-center text-blue-600 hover:text-blue-700 font-semibold leading-none border border-blue-200 hover:border-blue-300 rounded", href="#") Log In
                        div(class="mt-auto")
                            p(class="my-4 text-xs text-blueGray-400")
                                span Get in Touch
                                |                 
                                a(class="text-blue-600 hover:text-blue-600 underline", href="#") info@example.com
                            a(class="inline-block px-1", href="#")
                                img(src="metis-assets/icons/facebook-blue.svg", alt="")
                            |               
                            a(class="inline-block px-1", href="#")
                                img(src="metis-assets/icons/twitter-blue.svg", alt="")
                            |               
                            a(class="inline-block px-1", href="#")
                                img(src="metis-assets/icons/instagram-blue.svg", alt="")
            section(class="")
                div(class="container px-4 mx-auto")
                    div(class="max-w-lg mx-auto mb-16 text-center")
                        span(class="inline-block px-3 py-2 text-xs font-semibold bg-blue-100 text-blue-600 rounded-full uppercase") ABOUT HELM-AID
                        h2(class="mt-4 mb-2 text-3xl lg:text-4xl font-bold font-heading")
                            span Your Safety,
                            |               
                            span(class="text-blue-600") Our Priority
                            |               
                            span jumps over the lazy dog.
                        p(class="text-blueGray-400 leading-loose") We deliver the top notch facilities for all our customers enhanced with the innovations of our enterprise. Our products have been uphelding the safety standards and promising people a safe and secure road travel . our helmet is empowered by artifical intelligence that does not allow us to drive until and unless we put on our helmets.
                    div(class="flex relative")             
                    |             
                    |           
            section(class="pb-12 md:pb-8")
                div(class="container px-4 mx-auto")
                    div(class="flex flex-wrap -mx-3")
                        div(class="w-full md:w-1/2 lg:w-1/3 px-3 mb-8 md:mb-12")
                            div(class="flex items-start")
                                div(class="mr-6 p-3 bg-blue-600 rounded-full text-white")
                                    svg(class="w-10 h-10", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                        path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M16 8v8m-4-5v5m-4-2v2m-2 4h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z")
                                div(class="mt-4")
                                    h3(class="mb-3 text-xl font-semibold font-heading") Enhanced Safety Mode and Helmet Wear Detection
                                    p(class="text-blueGray-400 leading-loose") It  automatically detect whether or not you're wearing the helmet, and will only activate functionalities on proper wear. Get ready to stay safer on the road, all while having a better ride!
                        div(class="w-full md:w-1/2 lg:w-1/3 px-3 mb-8 md:mb-12")
                            div(class="flex items-start")
                                div(class="mr-6 p-3 bg-blue-600 rounded-full text-white")
                                    svg(class="w-10 h-10", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                        path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M4 5a1 1 0 011-1h14a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V5zM4 13a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H5a1 1 0 01-1-1v-6zM16 13a1 1 0 011-1h2a1 1 0 011 1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-6z")
                                div(class="mt-4")
                                    h3(class="mb-3 text-xl font-semibold font-heading") Gesture/Touch Enabled Functions
                                    p(class="text-blueGray-400 leading-loose") No more looking down at mobile mounts, or squeezing your phone under your helmet when riding. Accept and reject calls, get notifications and send messages, all from inside the helmet itself, with a single swipe. 
                        div(class="w-full md:w-1/2 lg:w-1/3 px-3 mb-8 md:mb-12")
                            div(class="flex items-start")
                                div(class="mr-6 p-3 bg-blue-600 rounded-full text-white")
                                    svg(class="w-10 h-10", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                        path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M8 9l3 3-3 3m5 0h3M5 20h14a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z")
                                div(class="mt-4")
                                    h3(class="mb-3 text-xl font-semibold font-heading") Easy Audio Navigation
                                    p(class="text-blueGray-400 leading-loose") Never look away from the road to check directions again. Get turn by turn, two-wheeler specific voice navigation carried to you directly, all within your helmet. Ride along and never miss a right turn!
                        div(class="w-full md:w-1/2 lg:w-1/3 px-3 mb-8 md:mb-12")
                            div(class="flex items-start")
                                div(class="mr-6 p-3 bg-blue-600 rounded-full text-white")
                                    svg(class="w-10 h-10", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                        path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z")
                                div(class="mt-4")
                                    h3(class="mb-3 text-xl font-semibold font-heading") Fast Bluetooth Connectivity
                                    p(class="text-blueGray-400 leading-loose") No messy connections. Simply pair your helmet once, and watch it connect automatically with your phone through power-saving BLE technology as soon as you switch it on! What's more, regular over-the-air upgrades make your experience an ever evolving one.
                        div(class="w-full md:w-1/2 lg:w-1/3 px-3 mb-8 md:mb-12")
                            div(class="flex items-start")
                                div(class="mr-6 p-3 bg-blue-600 rounded-full text-white")
                                    svg(class="w-10 h-10", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                        path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9")
                                div(class="mt-4")
                                    h3(class="mb-3 text-xl font-semibold font-heading") Safe Ride Leaderboard
                                    p(class="text-blueGray-400 leading-loose") Get points for riding safe, and see yourself ranked nationally with all other Altor Riders. Get tips on improving your ride, and rewards for doing so.
                        div(class="w-full md:w-1/2 lg:w-1/3 px-3 mb-8 md:mb-12")
                            div(class="flex items-start")
                                div(class="mr-6 p-3 bg-blue-600 rounded-full text-white")
                                    svg(class="w-10 h-10", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                        path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M16 8v8m-4-5v5m-4-2v2m-2 4h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z")
                                div(class="mt-4")
                                    h3(class="mb-3 text-xl font-semibold font-heading") Premium Unispeaker Audio
                                    p(class="text-blueGray-400 leading-loose") We know how much of a difference great audio can make, so we worked on it. Enjoy seamless echo cancellation and noise reduction, all while concentrating audio to a single side so as to not disrupt your road awareness.
                        div(class="w-full md:w-1/2 lg:w-1/3 px-3 mb-8 md:mb-12")
                            div(class="flex items-start")
                                div(class="mr-6 p-3 bg-blue-600 rounded-full text-white")
                                    svg(class="w-10 h-10", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                        path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M8 9l3 3-3 3m5 0h3M5 20h14a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z")
                                div(class="mt-4")
                                    h3(class="mb-3 text-xl font-semibold font-heading") Emergency S.O.S
                                    p(class="text-blueGray-400 leading-loose") In trouble on the road? A single click can send an emergency alert and your location to your contacts in seconds. You're never alone with Altor!
                        div(class="w-full md:w-1/2 lg:w-1/3 px-3 mb-8 md:mb-12")
                            div(class="flex items-start")
                                div(class="mr-6 p-3 bg-blue-600 rounded-full text-white")
                                    svg(class="w-10 h-10", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                        path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z")
                                div(class="mt-4")
                                    h3(class="mb-3 text-xl font-semibold font-heading") Accident Detection & Alerts
                                    p(class="text-blueGray-400 leading-loose") Our patented accident detection technology lets your helmet detect any accidents or impacts you may have, and immediately relay the location and time of the incident to your emergency contacts. 
                        div(class="w-full md:w-1/2 lg:w-1/3 px-3 mb-8 md:mb-12")
                            div(class="flex items-start")
                                div(class="mr-6 p-3 bg-blue-600 rounded-full text-white")
                                    svg(class="w-10 h-10", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                        path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M4 5a1 1 0 011-1h14a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V5zM4 13a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H5a1 1 0 01-1-1v-6zM16 13a1 1 0 011-1h2a1 1 0 011 1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-6z")
                                div(class="mt-4")
                                    h3(class="mb-3 text-xl font-semibold font-heading") Extended Battery Life
                                    p(class="text-blueGray-400 leading-loose") 10-40 hours of an uninterrupted smart helmet experience awaits you. As we develop further, our OTA upgrades will make your application more and more efficient as well, to better battery life. Join us on the road!
            section(class="py-20 xl:bg-contain bg-top bg-no-repeat", style="background-image: url('metis-assets/backgrounds/intersect.svg');")
                div(class="max-w-7xl px-4 mx-auto")
                    div(class="max-w-lg mx-auto mb-12 text-center")
                        img(class="mx-auto", src="metis-assets/icons/quote.svg", alt="")
                        h2(class="my-2 text-3xl md:text-4xl font-bold font-heading") What our customers Say!
                        p(class="text-blueGray-400 leading-loose") Read Our Testimonials
                    div(class="flex flex-wrap -mx-3 mb-6")
                        div(class="w-full lg:w-1/3 px-3")
                            div(class="p-8 mb-6 bg-white shadow rounded lg:opacity-25")
                                img(src="metis-assets/icons/quote.svg", alt="")
                                p(class="my-4 leading-loose text-blueGray-400") In et sagittis risus, sed molestie sapien. Suspendisse potenti. Sed pharetra, leo quis dignissim tristique, arcu arcu varius libero, ut vestibulum sapien odio facilisis nunc.
                                div(class="flex items-center")
                                    img(class="h-16 w-16 rounded-full object-cover", src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60", alt="")
                                    div(class="pl-4")
                                        p(class="text-xl") Julie Brown
                                        p(class="text-blue-600") Head of Development
                        div(class="w-full lg:w-1/3 px-3")
                            div(class="p-8 mb-6 bg-white shadow rounded")
                                img(src="metis-assets/icons/quote.svg", alt="")
                                p(class="my-4 leading-loose text-blueGray-400") Heard about them before from One of My Client in Westwind Apartment. Saw them in the tv grabbing a fantastic deal. Proud of you Guys.. Proud of you guys. 5 Star for The Concept, Planning and Execution till date.
                                div(class="flex items-center")
                                    img(class="h-16 w-16 rounded-full object-cover", src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60", alt="")
                                    div(class="pl-4")
                                        p(class="text-xl") Sejal Gupta
                                        p(class="text-blue-600") CEO of ThinkMetal
                        div(class="w-full lg:w-1/3 px-3")
                            div(class="p-8 mb-6 bg-white shadow rounded lg:opacity-25")
                                img(src="metis-assets/icons/quote.svg", alt="")
                                p(class="my-4 leading-loose text-blueGray-400") In et sagittis risus, sed molestie sapien. Suspendisse potenti. Sed pharetra, leo quis dignissim tristique, arcu arcu varius libero, ut vestibulum sapien odio facilisis nunc.
                                div(class="flex items-center")
                                    img(class="h-16 w-16 rounded-full object-cover", src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60", alt="")
                                    div(class="pl-4")
                                        p(class="text-xl") Julie Brown
                                        p(class="text-blue-600") Head of Development
                    div(class="hidden lg:flex justify-center space-x-2")
                        button(class="h-2 w-2 rounded-full bg-blueGray-300")
                        button(class="h-2 w-2 rounded-full bg-blueGray-300")
                        button(class="h-2 w-2 rounded-full bg-blue-500")
                        button(class="h-2 w-2 rounded-full bg-blueGray-300")
            section(class="py-20 xl:bg-contain bg-top bg-no-repeat", style="background-image: url('metis-assets/backgrounds/intersect.svg');")
                div(class="container px-4 mx-auto")
                    div(class="text-center mb-16")
                        h2(class="max-w-lg mx-auto mb-4 text-4xl font-bold font-heading")
                            span Start saving time today and
                            |               
                            span(class="text-blue-600") choose
                            |               
                            span your best helmet
                    div(class="flex flex-wrap -mx-3")
                        div(class="w-full md:w-1/2 lg:w-1/3 px-3 mb-6")
                            div(class="pt-16 pb-8 px-4 text-center bg-white rounded shadow")
                                img(class="h-20 mb-6 mx-auto", src="metis-assets/illustrations/people.png", alt="")
                                h3(class="mb-2 text-4xl font-bold font-heading") Helmate(Lite)
                                span(class="text-4xl text-blue-600 font-bold font-heading") ₹ 1999
                                p(class="mt-2 mb-8 text-blueGray-400") lifetime warranty
                                div(class="flex flex-col items-center mb-8")
                                    ul(class="text-blueGray-400")
                                        li(class="flex mb-3")
                                            svg(class="w-6 h-6 mr-2 text-green-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                                path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                            span BLE Certified
                                        li(class="flex mb-3")
                                            svg(class="w-6 h-6 mr-2 text-green-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                                path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                            span USB Connectivity
                                        li(class="flex mb-3")
                                            svg(class="w-6 h-6 mr-2 text-green-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                                path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                            span Designed in India
                                        li(class="flex")
                                            svg(class="w-6 h-6 mr-2 text-green-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                                path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                            span 650 gas
                                div
                                    a(class="block sm:inline-block py-4 px-6 mb-4 sm:mb-0 sm:mr-3 text-xs text-white text-center font-semibold leading-none bg-blue-600 hover:bg-blue-700 rounded", href="#") Buy Now
                        div(class="w-full md:w-1/2 lg:w-1/3 px-3 mb-6")
                            div(class="pt-16 pb-8 px-4 text-center text-white bg-blueGray-800 rounded shadow")
                                img(class="h-20 mb-6 mx-auto", src="metis-assets/illustrations/job-interview.png", alt="")
                                h3(class="mb-2 text-4xl font-bold font-heading") Helmate(Pro)
                                span(class="text-4xl font-bold font-heading") ₹ 2299
                                p(class="mt-2 mb-8") lifetime warranty
                                div(class="flex flex-col items-center mb-8")
                                    ul
                                        li(class="flex items-center mb-3")
                                            svg(class="w-6 h-6 mr-2 text-green-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                                path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                            span Lightweight
                                        li(class="flex items-center mb-3")
                                            svg(class="w-6 h-6 mr-2 text-green-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                                path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                            span Comfortable
                                        li(class="flex items-center mb-3")
                                            svg(class="w-6 h-6 mr-2 text-green-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                                path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                            span Designed in India
                                        li(class="flex items-center")
                                            svg(class="w-6 h-6 mr-2 text-green-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                                path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                            span 450 gas
                                div
                                    a(class="block sm:inline-block py-4 px-6 mb-4 sm:mb-0 sm:mr-3 text-xs text-blue-600 text-center font-semibold leading-none bg-white hover:bg-blueGray-50 rounded", href="#") Buy Now
                        div(class="w-full lg:w-1/3 px-3 mb-6")
                            div(class="pt-16 pb-8 px-4 text-center bg-white rounded shadow")
                                img(class="h-20 mb-6 mx-auto", src="metis-assets/illustrations/team-management.png", alt="")
                                h3(class="mb-2 text-4xl font-bold font-heading") Helmate(Ultra)
                                span(class="text-4xl text-blue-600 font-bold font-heading") ₹ 2799
                                p(class="mt-2 mb-8 text-blueGray-400") lifetime warranty
                                div(class="flex flex-col items-center mb-8")
                                    ul(class="text-blueGray-400")
                                        li(class="flex mb-3")
                                            svg(class="w-6 h-6 mr-2 text-green-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                                path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                            span Battery Backup
                                        li(class="flex mb-3")
                                            svg(class="w-6 h-6 mr-2 text-green-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                                path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                            span Type C Connectivity
                                        li(class="flex mb-3")
                                            svg(class="w-6 h-6 mr-2 text-green-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                                path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                            span Designed in India
                                        li(class="flex")
                                            svg(class="w-6 h-6 mr-2 text-green-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                                path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                            span 300 gas
                                div
                                    a(class="block sm:inline-block py-4 px-6 mb-4 sm:mb-0 sm:mr-3 text-xs text-white text-center font-semibold leading-none bg-blue-600 hover:bg-blue-700 rounded", href="#") Buy Now
            section(class="py-20")
                div(class="container px-4 mx-auto")
                    div(class="flex flex-col lg:flex-row lg:justify-between lg:items-center mb-12")
                        div(class="lg:w-1/3 lg:pr-16 mb-2 lg:mb-8")
                            h2(class="text-3xl md:text-4xl font-bold font-heading") Frequently Asked Questions
                        div(class="text-sm lg:text-base lg:w-1/3")
                            p(class="leading-loose text-blueGray-500")
                                span Can’t find the answer you’re looking for? Write out to our
                                |                 
                                a(class="text-blue-600 hover:text-blue-700", href="#") customer support team.
                    div(class="flex flex-wrap -mx-4")
                        div(class="w-full md:w-1/2 lg:w-1/3 px-4 mb-8")
                            h4(class="mb-2 md:mb-4 text-xl font-semibold") When does the product ship?
                            p(class="text-sm md:text-base leading-loose text-blueGray-500")       We are working on certification approval daily to increase the number of countries that we are able to ship to, but those countries not listed above will lead to longer delivery times, as stated on the product page in our webshop.
                        div(class="w-full md:w-1/2 lg:w-1/3 px-4 mb-8")
                            h4(class="mb-2 md:mb-4 text-xl font-semibold") Will it function without a smartphone?
                            p(class="text-sm md:text-base leading-loose text-blueGray-500") Absolutely! You can connect the built in speakers with any wireless device, while running your rear view through the HUD. Certain functions, such as the navigation and sound control will only be possible through our application, however (available for iOS and Android).
                        div(class="w-full md:w-1/2 lg:w-1/3 px-4 mb-8")
                            h4(class="mb-2 md:mb-4 text-xl font-semibold") Does the product offer a warranty?
                            p(class="text-sm md:text-base leading-loose text-blueGray-500") We cover repair costs on all production defects and electronic malfunctions for lifetime. Additionally, we’re offering a replacement program exclusively for the shell. If there is any damage or periodic replacement is needed, we’re able to do this at a greatly reduced fee.
                        div(class="w-full md:w-1/2 lg:w-1/3 px-4 mb-8")
                            h4(class="mb-2 md:mb-4 text-xl font-semibold") Why not connect the camera feed to the backseat passenger?
                            p(class="text-sm md:text-base leading-loose text-blueGray-500") We haven’t tested getting video feed from a rear passenger, but not being in direct control of the rear camera could lead to misinformation and possible motion sickness.
                        div(class="w-full md:w-1/2 lg:w-1/3 px-4 mb-8")
                            h4(class="mb-2 md:mb-4 text-xl font-semibold") What if I have a passenger in the back seat?
                            p(class="text-sm md:text-base leading-loose text-blueGray-500") The option to turn off the rear camera is easily accessible.
                            |       You’ll still have access to navigation, ride data, and all other functions.
                        div(class="w-full md:w-1/2 lg:w-1/3 px-4 mb-8")
                            h4(class="mb-2 md:mb-4 text-xl font-semibold") What is the return policy on the product?
                            p(class="text-sm md:text-base leading-loose text-blueGray-500") We are able to process refund requests for all orders within 14 days of the order date. If the product has already been shipped, the buyer is responsible for all shipping fees. Returned goods must be in new condition with all tags/stickers attached or the return may not be accepted.
            section(class="py-20")
                div(class="container px-4 mx-auto")
                    div(class="flex flex-col md:flex-row justify-around")
                        div(class="max-w-md md:mr-10 mb-10 md:mb-0")
                            span(class="inline-block py-1 px-3 text-xs font-semibold bg-blue-100 text-blue-600 rounded-xl") Our Team
                            h2(class="text-3xl md:text-4xl mt-2 mb-4 font-bold font-heading") Meet our team
                            p(class="text-blueGray-400 leading-loose") Our team is passionate about bringing the
                            |       best for our customers.
                        div(class="flex flex-wrap")
                            div(class="w-1/2 p-5")
                                img(class="h-20 w-20 rounded-full object-cover object-top", src="images/sayudh.jpeg", alt="")
                                p(class="mt-6 mb-2 text-xl") Sayudh Mukherjee
                                p(class="text-sm text-blueGray-400") 20191CSE0537
                            div(class="w-1/2 p-5")
                                img(class="h-20 w-20 rounded-full object-cover object-top", src="images/shikhar.jpeg", alt="")
                                p(class="mt-6 mb-2 text-xl") Shikhar Jain
                                p(class="text-blueGray-400") 20191CSE0557
                            div(class="w-1/2 p-5")
                                img(class="h-20 w-20 rounded-full object-cover object-top", src="images/shivani.jpeg", alt="")
                                p(class="mt-6 mb-2 text-xl") Shivani Patanshetty
                                p(class="text-blueGray-400") 20191CSE0558
                            div(class="w-1/2 p-5")
                                img(class="h-20 w-20 rounded-full object-cover object-top", src="images/Skandana.jpeg", alt="")
                                p(class="mt-6 mb-2 text-xl") Skandana Patel
                                p(class="text-blueGray-400") 20191CSE0575
            section(class="pt-20 pb-24 bg-blue-600")
                div(class="max-w-xl mx-auto text-center")
                    h2(class="mt-3 text-3xl md:text-4xl text-white font-bold font-heading") Want to join the Smart India Revolution?
                    div(class="mt-6")
                        a(class="inline-block text-xs py-4 px-8 bg-white hover:bg-blue-600 text-blue-600 hover:text-white font-semibold leading-none border hover:border-white rounded transition duration-300", href="#") Get in Touch
            section(class="py-20")
                div(class="container px-4 mx-auto")
                    div(class="max-w-2xl mx-auto text-center")
                        div(class="max-w-md mb-8 mx-auto")
                            span(class="text-sm text-blueGray-400") Contact Us
                            h2(class="mt-2 text-4xl font-bold font-heading") We will be glad to hear from you!
                        div
                            form
                                div(class="mb-4 text-sm")
                                    span(class="mr-4 font-semibold") Departament:
                                    label(class="mr-4")
                                        input(class="mr-1", type="radio", name="department", value="1", checked="checked")
                                        span Support
                                    label
                                        input(class="mr-1", type="radio", name="department", value="2")
                                        span Sales
                                div(class="mb-4")
                                    input(class="w-full p-4 text-xs font-semibold leading-none bg-blueGray-50 rounded outline-none", type="text", placeholder="Subject")
                                div(class="mb-4")
                                    input(class="w-full p-4 text-xs font-semibold leading-none bg-blueGray-50 rounded outline-none", type="text", placeholder="Name")
                                div(class="mb-4")
                                    input(class="w-full p-4 text-xs font-semibold leading-none bg-blueGray-50 rounded outline-none", type="email", placeholder="name@example.com")
                                div(class="mb-4")
                                    textarea(class="w-full h-24 p-4 text-xs font-semibold leading-none resize-none bg-blueGray-50 rounded outline-none", type="text", placeholder="Message...")
                                div(class="mb-4")
                                    label(class="flex px-2 bg-blueGray-50 rounded")
                                        input(class="hidden", type="file", placeholder="Choose file..", name="Choose file")
                                        div(class="my-1 ml-auto px-4 py-3 text-xs text-white font-semibold leading-none bg-blueGray-500 hover:bg-blueGray-600 rounded cursor-pointer") Browse
                                div(class="flex justify-between items-center")
                                    label
                                        input(class="mr-1", type="checkbox", name="terms", value="1")
                                        span(class="text-sm font-semibold") I agree to terms and conditions.
                                    button(class="py-4 px-8 text-sm text-white font-semibold leading-none bg-blue-600 hover:bg-blue-700 rounded", type="submit") Submit
            section(class="py-16")
                div(class="container px-4 mx-auto")
                    div(class="flex flex-col lg:flex-row flex-wrap items-center justify-center lg:justify-between")
                        div(class="flex flex-col lg:flex-row mb-8 lg:mb-0")
                            a(class="inline-block mb-8 lg:mb-0 mx-auto lg:ml-0 lg:mr-12 text-3xl font-semibold leading-none", href="#")
                                img(class="h-10", src="metis-assets/logos/metis/metis.svg", alt="", width="auto")
                            ul(class="flex lg:flex-row items-center space-x-12")
                                li
                                    a(class="text-lg font-bold font-heading hover:text-blueGray-600", href="#") Shop
                                li
                                    a(class="text-lg font-bold font-heading hover:text-blueGray-600", href="#") About
                                li
                                    a(class="text-lg font-bold font-heading hover:text-blueGray-600", href="#") Pricing
                                li
                                    a(class="text-lg font-bold font-heading hover:text-blueGray-600", href="#") FAQ
                        div(class="lg:flex lg:flex-wrap lg:items-center")
                            span(class="block mb-6 lg:mb-0 lg:mr-12 text-center lg:text-left text-blueGray-400") Let's get in touch
                            |               
                            a(class="inline-block py-4 px-8 text-xs text-white leading-none bg-blue-600 hover:bg-blue-700 font-semibold rounded", href="#") Contact with us
